<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

#Need to show user/author
#Need to show vote value
#Need to allow creation of Comment

<%= link_to 'Edit', edit_article_path(@article) %> 
<%= link_to 'Back', posts_path %>

 
